/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

code {
  font-size: 80%;
}


/*
-------------------------------------------------- 
 CUSTOM CSS
-------------------------------------------------- */

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "";
}

.dropdown-menu.dropdown-login {
  padding: 5px 5px;
  min-width: 200px;
}
.dropdown-menu.dropdown-login > li {
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: center;
}

.signup-login {
  font-size: 12px;
}

.glyphicon-new-event {
  font-size: 11px; 
}

#new-event-form h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;
  margin-left: 15px;
  color: Grey;
}

.help-inline {
  display: inline;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #737373;
}
input[type="file"] {
  display: inline;
}

.margin-bottom-35 {
  margin-bottom: 35px;
}

.events-filter {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

ul.list-unstyled > li > label {
  font-weight: normal;
  margin: 0;
}
ul.list-unstyled > li > input {
  margin: 0 15px 0 15px;
}

.filter-checkbox {
  margin-left: 20px;
}

.event-show {
  padding: 14px;
  margin: 0 0 14px 20px;
  background-color: hsla(240,14.3%,99.5%,1);
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.dl-event-show > dt {
  text-align: left;
  padding-left: 30px;
  width: 140px;
}
.dl-profile > dt {
  text-align: left;
  padding-left: 30px;
  width: 200px;
}
.dl-profile > dd {
  text-align: left;
  margin-left: 220px;
}
